body{
    background-color: rgb(8, 71, 90);
}
header{
    width: 100%;
}
header h1{
    user-select: none;
    float: left;
    width: 110px;
    font-size: 17px;
    padding-left: 50px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header nav ul li{
    user-select:none;
    list-style: none;
    float: right;
    width: fit-content;
    font-size: 10px;
    padding-left: 50px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header nav ul li:hover{
    cursor: pointer;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.5);
}